<!--lint disable no-heading-punctuation-->

# Surfs Up!

<!--lint enable no-heading-punctuation-->
![surfs-up.jpeg](Images/surfs-up.jpeg)

Congratulations! You've decided to treat yourself to a long holiday vacation in Honolulu, Hawaii! To help with your trip planning, you decided to do some climate analysis on the area. Because you are such an awesome person, you have decided to share your ninja analytical skills with the community by providing a climate analysis API. The following outlines what you need to do.

## Step 1 - Data Engineering

The climate data for Hawaii is provided through two CSV files. Start by using Python and Pandas to inspect the content of these files and clean the data.

* Create a Jupyter Notebook file called `data_engineering.ipynb` and use this to complete all of your Data Engineering tasks.

* Use Pandas to read in the measurement and station CSV files as DataFrames.

* Inspect the data for NaNs and missing values. You must decide what to do with this data.

* Save your cleaned CSV files with the prefix `clean_`.

In [1]:
#Import Dependencies
import pandas as pd
import numpy as np
import csv

In [13]:
#Read csvs

#File to Loads
measurements_data_to_load = "Resources/hawaii_measurements.csv"
stations_data_to_load = "Resources/hawaii_stations.csv"

stations = pd.read_csv(stations_data_to_load)
measurements = pd.read_csv(measurements_data_to_load)

#Convert to DataFrames
stations_df = pd.DataFrame(stations)
measurements_df = pd.DataFrame(measurements)

In [14]:
#Preview Stations Data

stations_df

,station,name,latitude,longitude,elevation
0,USC00519397,"WAIKIKI 717.2, HI US",21.27160,-157.81680,3.0
1,USC00513117,"KANEOHE 838.1, HI US",21.42340,-157.80150,14.6
2,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.52130,-157.83740,7.0
3,USC00517948,"PEARL CITY, HI US",21.39340,-157.97510,11.9
4,USC00518838,"UPPER WAHIAWA 874.3, HI US",21.49920,-158.01110,306.6
5,USC00519523,"WAIMANALO EXPERIMENTAL FARM, HI US",21.33556,-157.71139,19.5
6,USC00519281,"WAIHEE 837.5, HI US",21.45167,-157.84889,32.9
7,USC00511918,"HONOLULU OBSERVATORY 702.2, HI US",21.31520,-157.99920,0.9
8,USC00516128,"MANOA LYON ARBO 785.2, HI US",21.33310,-157.80250,152.4

In [16]:
#Preview Measurement Data

measurements_df.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-06   NaN    73

In [17]:
#Precipitation data appears to be missing. Replace NaN values with 0 to preserve other data.

measurements_df.count()

station    19550
date       19550
prcp       18103
tobs       19550
dtype: int64

In [21]:
updated_measurements_df = measurements_df.fillna(0)

In [22]:
updated_measurements_df.count()

station    19550
date       19550
prcp       19550
tobs       19550
dtype: int64

In [23]:
#Save to csvs

updated_measurements_df.to_csv("cleaned_hawaii_measurements.csv", index=False)
stations_df.to_csv("cleaned_hawaii_stations.csv", index=False)